extends layout

block head
  title T.R. Vernal Paving | About 

block content
  .container
    section
      h3 Our History
      p
        | T.R. Vernal Paving, Inc was founded in the Raleigh/Durham area in 1989. The company’s
        | namesake, Tim Vernal, had visited the area a few years earlier and it had made an impression
        | on him. So after finishing college at Duquesne University in Pittsburgh, PA, he headed south.
        | After about a year he set out on his own with some old trucks and equipment.
      p
        | From those humble beginnings the company built its reputation and continued to grow and
        | develop into the multi-million dollar corporation it is today. T.R. Vernal Paving continues
        | to grow today by building relationships with its customers. Quality of our work and service
        | to our customers is our most valued advertising medium. We know how important strong business
        | relations are and at T.R. Vernal Paving we work to build them everyday.
      p
        | Our continued growth would not be possible without the outstanding employees we have been
        | blessed with over the years. We were fortune enough to acquire good people early on and keep them,
        | some of whom have been here for over 15 years. Through the efforts of these talented individuals
        | a great team has developed that allows T.R. Vernal Paving to service our customers and deliver
        | a quality product each day.
    section
      h3 Our Team
      ul.collection
        li.collection-item.avatar
          img.circle(src='images/placeholder.png')
          span.title Tim Vernal
          p CEO
        li.collection-item.avatar
          img.circle(src='images/placeholder.png')
          span.title Kevin Sisk
          p Estimator
          a.secondary-content(href='mailto:ksisk@trvernalpaving.com')
            i.material-icons email
        li.collection-item.avatar
          img.circle(src='images/placeholder.png')
          span.title Lyn Bryan
          p Estimator
          a.secondary-content(href='mailto:lbryan@trvernalpaving.com')
            i.material-icons email
        li.collection-item.avatar
          img.circle(src='images/placeholder.png')
          span.title Mike Jones
          p Estimator
          a.secondary-content(href='mailto:mjones@trvernalpaving.com')
            i.material-icons email
        li.collection-item.avatar
          img.circle(src='images/placeholder.png')
          span.title Springer Johnson
          p Estimator
          a.secondary-content(href='sjohnson@trvernalpaving.com')
            i.material-icons email
