extends layout

block head
  title T.R. Vernal Paving | Asphalt 

block content
  .container
    h3 Asphalt
    p
      | Service is the number one ingredient in all of our asphalt mixes.  Our convenient location just off
      | Westgate road near the intersection of I-540 and Hwy 70 allows us to serve the fast growing Raleigh
      | market with competitive pricing and unparalleled service.
    p
      | What this means to you as a customer is that whether you are a homeowner looking to get your driveway
      | paved or a developer in need of several miles of roads as part of a large development you get the same
      | NCDOT certified mix used on all North Carolina highways.
    ul
      section.row
        .col.s12.m6.l4.xl3
          .card.hoverable
            .card-image.waves-effect.waves-block.waves-light
              img.activator.card-img(src='images/placeholder.png')
            .card-content
              span.card-title.activator.grey-text.text-darken-4 NCDOT Certified Mixes
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | NCDOT Certified Mixes
                i.material-icons.right close
              p
                | Here is some more information about this product that is only revealed once clicked on.
        .col.s12.m6.l4.xl3
          .card.hoverable
            .card-image.waves-effect.waves-block.waves-light
              img.activator.card-img(src='images/placeholder.png')
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Road Tech Testing
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Road Tech Testing
                i.material-icons.right close
              p
                | Here is some more information about this product that is only revealed once clicked on.
        .col.s12.m6.l4.xl3
          .card.hoverable
            .card-image.waves-effect.waves-block.waves-light
              img.activator.card-img(src='images/placeholder.png')
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Thorough Testing
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Thorough Testing
                i.material-icons.right close
              p
                | Here is some more information about this product that is only revealed once clicked on.
        .col.s12.m6.l4.xl3
          .card.hoverable
            .card-image.waves-effect.waves-block.waves-light
              img.activator.card-img(src='images/placeholder.png')
            .card-content
              span.card-title.activator.grey-text.text-darken-4 High Quality Mixes
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | High Quality Mixes
                i.material-icons.right close
              p
                | Here is some more information about this product that is only revealed once clicked on.
