extends layout

block head
  title T.R. Vernal Paving | Home

block content
  #index-banner.parallax-container
    .section.no-pad-bot
      .container
        br
        br
        h3.header.center.teal-text.text-lighten-2 TR Vernal Paving
        .row.center
          h5.header.col.s12.light Quality Since 1989
        .row.center
          a#download-button.btn-large.waves-effect.waves.teal.lighten-1(href='tel:919-782-6515') Call Now
        br
        br
    .parallax
      img(src='images/slide1.jpg', alt='Unsplashed background img 1')
  .container
    .section
      // Icon Section
      .row
        .col.s12.m4
          .icon-block
            h2.center.brown-text
              i.material-icons.shake room_service
            h5.center Quality Service
            p.light
              | We've been in the business since 1989, and as such we've been
              | able to leverage our experience for refining the quality of our
              | asphalt and our service.
        .col.s12.m4
          .icon-block
            h2.center.brown-text
              i.material-icons.spin settings
            h5.center Hard Working
            p.light
              | We work hard to deliver the best service possible by using cutting edge
              | technology and constantly evolving our process for efficiency. Whatever
              | your needs or deadline, we'll work hard for you.
        .col.s12.m4
          .icon-block
            h2.center.brown-text
              i.material-icons.scale group
            h5.center Friendly Staff
            p.light
              | We're a group of passionate, experienced workers who are excited to
              | work with you, no matter the project. We truly care about your
              | experience.
  .parallax-container.valign-wrapper
    .parallax
      img(src='images/slide2.jpg', alt='Unsplashed background img 2')
  .container
    .section
      .row
        .col.s12.center
          h3
            i.mdi-content-send.brown-text
          h4 What we do
          p.left-align.light
            | At T.R. Vernal Paving, we specialize in Asphalt Paving, Repair & Maintenance, and Aspahlt Production.
            | We are happy to say that we've been serving the commercial and residential side of the greater Raleigh-Durham
            | with quality asphalt and satisfactory service for over 25 years.
  .parallax-container.valign-wrapper
    .parallax
      img(src='images/slide3.jpg', alt='Unsplashed background img 3')