doctype html
html(lang='en')
  head
    meta(httpEquiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='U-XA-Compatible' content='IE=edge,chrome=1')
    meta(rel='canonical', href='https://trvernalpaving.com')
    meta(name='author', content='Charles Kenney')
    meta(name='description', content='T.R. Vernal Paving, serving the commercial and residential side of the greater Raleigh-Durham area with quality asphalt and satisfactory service for over 25 years.')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css', integrity='sha256-HxaKz5E/eBbvhGMNwhWRPrAR9i/lG1JeT4mD6hCQ7s4=', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css')
    link(href='styles/main.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="apple-mobile-web-app-title", content="T.R. Vernal Paving")
    meta(name="application-name", content="T.R. Vernal Paving")
    meta(name="theme-color", content="#ffffff")
    meta(property='og:type', content='website')
    meta(property='og:title', content='T.R. Vernal Paving')
    meta(property='og:description', content='T.R. Vernal Paving, serving the commercial and residential side of the greater Raleigh-Durham area with quality asphalt and satisfactory service for over 25 years.')
    meta(property='og:url', content='https://trvernalpaving.com/')
    meta(property='og:site_name', content='T.R. Vernal Paving')


    block head
  body
    #root
      nav.white.nav-extended(role='navigation')
        .nav-wrapper.container
          a(href='/')#logo-container.brand-logo.valign-wrapper
            svg#logo-img(data-name='Group 1', xmlns='http://www.w3.org/2000/svg', viewbox='4868.906 1630.25 711.374 624.643')
              path#Path_2(data-name='Path 2', d='M5207.806,1714.975c55.146-.221,67.2,53.193,59.489,80.583-7.969,28.291-27.231,41.737-27.231,41.737l62.681,116.865L5363.3,1837.3h36.975l-99.09,187.339-96.069-177.668h-60.53v83.657h-36.9V1746.359h-72v-31.384h155.741v32.951h-46.851v65.1h63.218s25.842-6.224,25.842-30.736c0-11.422-1.238-27.233-25.842-34.359C5207.784,1714.676,5207.806,1714.975,5207.806,1714.975Z')
              path#Path_3(data-name='Path 3', d='M4885.664,1630.25h677.987l-8.086,14.319-660.459.419Z')
              path#Path_4(data-name='Path 4', d='M4894.6,1644.193l365.47,610.7,8.709-16.275L4911.306,1644.67Z')
              path#Path_5(data-name='Path 5', d='M5540.426,1641.946l22.729-11.385-321.662,594.226-8.227-15.376Z')
              path#Path_6(data-name='Path 6', d='M4904.793,1660.007l8.332,14.329h-19.811l330.061,549.977,10.242-15.5,12.189,8.923-22.431,36.211L4868.906,1660.02Z')
              path#Path_7(data-name='Path 7', d='M4926.374,1674.3l597.944.443,7.947-15.8-612.981.522Z')
              path#Path_8(data-name='Path 8', d='M5529.518,1659.008h50.762l-314.232,584.735-8.807-15.623,299.394-553.638H5521.83Z')
          ul.right.hide-on-med-and-down
            li
              a(href='/') Home
            li
              a(href='/services') Services
            li
              a(href='/asphalt') Asphalt
            li
              a(href='/about') About
            li
              a(href='/contact') Contact
          ul#nav-mobile.side-nav
            li
              a Home
            li
              a(href='/services') Services
            li
              a(href='/asphalt') Asphalt
            li
              a(href='/about') About
            li
              a(href='/contact') Contact
          a.button-collapse(href='#', data-activates='nav-mobile')
            i.material-icons menu
        block navcontent
      

      main
        block content

      footer.page-footer
        .footer-copyright
          .container
            | © 2017 TR Vernal Paving

    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js')
    block scripts
      script(src='scripts/index.js')
