extends layout

block head
  title T.R. Vernal Paving | Services

block navcontent
  .nav-content.container
    ul.tabs
      li.tab
        a.active(href='#commercial-tab') Commercial
      li.tab
        a(href='#residential-tab') Residential

block content
  #commercial-tab.col.s12
    .container
      h3 Commercial
      |           
      p
        | T.R. Vernal Paving, Inc has a long-standing reputation with local and nationally
        | known architects, general contractors, developers, and public agencies.  Our
        | portfolio includes office complexes, apartment communities, churches and schools
        | as well as several large developments.  TRV loves a challenge and treats each new
        | project as a new opportunity to prove our value.  You can count on us to show up
        | and perform the job to schedule.  We pride ourselves on providing unparalleled
        | service to each customer because we know the value of a satisfied customer.
      |           
      section.row
        .col.s12.m6.l4.xl3
          .card.hoverable
            .card-image.waves-effect.waves-block.waves-light
              img.activator.card-img(src='images/placeholder.png')
            |                 
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Parking Lots
            |                 
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Parking Lots
                i.material-icons.right close
              |                   
              p
                | Here is some more information about this product that is only revealed once clicked on.
        |             
        .col.s12.m6.l4.xl3
          .card.hoverable
            .card-image.waves-effect.waves-block.waves-light
              img.activator.card-img(src='images/placeholder.png')
            |                 
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Road Paving
            |                 
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Road Paving
                i.material-icons.right close
              |                   
              p
                | Here is some more information about this product that is only revealed once clicked on.
        |             
        .col.s12.m6.l4.xl3
          .card.hoverable
            .card-image.waves-effect.waves-block.waves-light
              img.activator.card-img(src='images/placeholder.png')
            |                 
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Excuvation Curbs
            |                 
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Excuvation Curbs
                i.material-icons.right close
              |                   
              p
                | Here is some more information about this product that is only revealed once clicked on.
        |             
        .col.s12.m6.l4.xl3
          .card.hoverable
            .card-image.waves-effect.waves-block.waves-light
              img.activator.card-img(src='images/placeholder.png')
            |                 
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Stone Sidewalks
            |                 
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Stone Sidewalks
                i.material-icons.right close
              |                   
              p
                | Here is some more information about this product that is only revealed once clicked on.
        |             
        .col.s12.m6.l4.xl3
          .card.hoverable
            .card-image.waves-effect.waves-block.waves-light
              img.activator.card-img(src='images/placeholder.png')
            |                 
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Dumpster Pads
            |                 
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Dumpster Pads
                i.material-icons.right close
              |                   
              p
                | Here is some more information about this product that is only revealed once clicked on.
        |             
        .col.s12.m6.l4.xl3
          .card.hoverable
            .card-image.waves-effect.waves-block.waves-light
              img.activator.card-img(src='images/placeholder.png')
            |                 
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Walking Trails
            |                 
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Walking Trails
                i.material-icons.right close
              |                   
              p
                | Here is some more information about this product that is only revealed once clicked on.
        |             
        .col.s12.m6.l4.xl3
          .card.hoverable
            .card-image.waves-effect.waves-block.waves-light
              img.activator.card-img(src='images/placeholder.png')
            |                 
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Cart Paths
            |                 
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Cart Paths
                i.material-icons.right close
              |                   
              p
                | Here is some more information about this product that is only revealed once clicked on.
        |             
        .col.s12.m6.l4.xl3
          .card.hoverable
            .card-image.waves-effect.waves-block.waves-light
              img.activator.card-img(src='images/placeholder.png')
            |                 
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Sealcoating
            |                 
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Sealcoating
                i.material-icons.right close
              |                   
              p
                | Here is some more information about this product that is only revealed once clicked on.
  |       
  #residential-tab.col.s12
    .container
      h3 Residential
      |           
      p
        | Your home&rsquo;s impression starts at the curb.  T.R. Vernal Paving can make that
        | impression a memorable one you can be proud of for years to come. We offer unique
        | custom designs that can combine several design elements that can make your driveway
        | a work of art sure to be the envy of the neighbors.  There are several options to
        | make your driveway standout. Confused or overwhelmed, give us a call and our
        | experienced professionals can help you design a driveway that will fit your home
        | and landscape.
      |           
      section.row
        .col.s12.m6.l4.xl3
          .card.hoverable
            .card-image.waves-effect.waves-block.waves-light
              img.activator.card-img(src='images/placeholder.png')
            |                 
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Asphalt Driveways
            |                 
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Asphalt Driveways
                i.material-icons.right close
              |                   
              p
                | Here is some more information about this product that is only revealed once clicked on.
        |             
        .col.s12.m6.l4.xl3
          .card.hoverable
            .card-image.waves-effect.waves-block.waves-light
              img.activator.card-img(src='images/placeholder.png')
            |                 
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Resurfacing
            |                 
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Resurfacing
                i.material-icons.right close
              |                   
              p
                | Here is some more information about this product that is only revealed once clicked on.
        |             
        .col.s12.m6.l4.xl3
          .card.hoverable
            .card-image.waves-effect.waves-block.waves-light
              img.activator.card-img(src='images/placeholder.png')
            |                 
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Sealcoating
            |                 
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Sealcoating
                i.material-icons.right close
              |                   
              p
                | Here is some more information about this product that is only revealed once clicked on.
        |             
        .col.s12.m6.l4.xl3
          .card.hoverable
            .card-image.waves-effect.waves-block.waves-light
              img.activator.card-img(src='images/placeholder.png')
            |                 
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Surface Treatments
            |                 
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Bitumious Surface Treatments
                i.material-icons.right close
              |                   
              p
                | Here is some more information about this product that is only revealed once clicked on.
        |             
        .col.s12.m6.l4.xl3
          .card.hoverable
            .card-image.waves-effect.waves-block.waves-light
              img.activator.card-img(src='images/placeholder.png')
            |                 
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Extruded Curbing
            |                 
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Extruded Curbing
                i.material-icons.right close
              |                   
              p
                | Here is some more information about this product that is only revealed once clicked on.
        |             
        .col.s12.m6.l4.xl3
          .card.hoverable
            .card-image.waves-effect.waves-block.waves-light
              img.activator.card-img(src='images/placeholder.png')
            |                 
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Drainage Systems
            |                 
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Drainage Systems
                i.material-icons.right close
              |                   
              p
                | Here is some more information about this product that is only revealed once clicked on.
        |             
        .col.s12.m6.l4.xl3
          .card.hoverable
            .card-image.waves-effect.waves-block.waves-light
              img.activator.card-img(src='images/placeholder.png')
            |                 
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Driveway Design
            |                 
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Driveway Design
                i.material-icons.right close
              |                   
              p
                | Here is some more information about this product that is only revealed once clicked on.