nav ul a,
nav .brand-logo {
  color: #444;
}

html, body {
  margin: 0;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  background: none !important;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
  color: #4db6ac !important;
}

.icon-block .material-icons:hover {
  color: #4D6979 !important;
  cursor: pointer;
}

footer.page-footer {
  margin: 0.5rem;
}

.page-footer {
  margin: 0 !important;
}

.card-img {
  max-height: 250px;
  object-fit: cover;
}

.submit-btn {
  width: 90%;
  margin: auto 5%;
  height: 50px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root>main {
  flex-grow: 1;
}


.tab>a {
  color: rgba(87, 116, 131, 0.5) !important;
}

.tab>a.active, .tab>a:hover {
  color: #4D6979 !important;
}

footer {
  background-color: #577483 !important;
}

footer>div, li.indicator {
  background-color: #4D6979 !important;
}

.text-w-glyph {
  display: inline-flex;
  vertical-align: middle;
  margin: 5px 0;
}

.blocked {
  display: flex;
  flex-direction: column;
}

#logo-img {
  height: 50px; 
  transition: all 0.3s ease-in;
}

#logo-img:hover {
  fill: #4DB6AC;
  transform: scale(1.1);
}

#logo-container {
  display: flex;
  height: 100%;
}

.spin, .shake, .scale {
  transition: transform 1s ease-in;
}

.spin:hover {
  animation: spin 4000ms infinite linear;
  -webkit-animation: spin 4000ms infinite linear;
  -moz-animation: spin 4000ms infinite linear;
}

.shake:hover {
  animation: shake 2000ms infinite linear;
  -webkit-animation: shake 2000ms infinite linear;
  -moz-animation: shake 2000ms infinite linear;
}

.scale:hover {
  transform: scale(1.1);
} 

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@-moz-keyframes shake {
  10%, 90% {
    -moz-transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -moz-transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -moz-transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -moz-transform: translate3d(4px, 0, 0);
  }
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
  }
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

#contact {
  margin-bottom: 45px;
}
